asttokens
attrs
blinker
category-encoders
certifi
charset-normalizer
click
cloudpickle
comm
contourpy
cycler
Cython
dash
dash-core-components
dash-html-components
dash-table
decorator
deprecation
exceptiongroup
executing
fastjsonschema
Flask
fonttools
idna
imbalanced-learn
importlib_metadata
ipython
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_core
jupyterlab_widgets
kaleido
kiwisolver
lightgbm
llvmlite
MarkupSafe
matplotlib
matplotlib-inline
nbformat
nest-asyncio
numba
numpy
orjson
packaging
pandas
parso
patsy
pexpect
pillow
platformdirs
plotly
plotly-resampler
pmdarima
prompt_toolkit
psutil
ptyprocess
pure_eval
pycaret
Pygments
pyod
pyparsing
python-dateutil
pytz
referencing
requests
retrying
rpds-py
scikit-base
scikit-learn
scikit-plot
scipy
shap
sktime
slicer
stack-data
statsmodels
tbats
tenacity
threadpoolctl
tqdm
traitlets
tsdownsample
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
widgetsnbextension
wurlitzer
xxhash
yellowbrick
zipp

# Specific versions based on compatibility and dependency conflicts
pandas-profiling==3.6.6
